body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  /* color: #777; */
  background-color: #777;
  width: 960px;
  font-size: 18px;
}

.backGroundColor {
  background-color: #ebebeb;
}
.text{
    text-align: center;
}

article {
  background-color: #777;
}

section{
    width: 495px;
}
